*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black 1px solid;
  margin-bottom:20px
}

.container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.card img {
  width: 100px;
  height: 150px;
  margin: 0 auto;
}

.card h2 {
  margin: 0 auto;
  font-size: 32px;
}